<header class="bg-slate-600">
  <div class="container mx-auto">
    <nav class="flex gap-2 text-white justify-between items-center px-2">
      <div class="brand">Emircan Uçar</div>
      <div class="menu flex">
        <a
          href="/"
          class="hover:bg-slate-800 p-5 flex items-center justify-center"
          >Home</a
        >
        <a
          href="/about"
          class="hover:bg-slate-800 p-5 flex items-center justify-center"
          >About</a
        >
        <a
          href="/blog"
          class="hover:bg-slate-800 p-5 flex items-center justify-center"
          >Blog</a
        >
      </div>
    </nav>
  </div>
</header>
